.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    background-color: #f9f9f9;
}

.login-form {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.login-form h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.login-form p {
    color: #777;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

.password-field {
    position: relative;
  }

.eye-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

/* .register-link span {
    color: #ff5a5f;
    font-weight: bold;
    cursor: pointer;
} */
.span-link{
    color: #ff5a5f;
    font-weight: bold;
    cursor: pointer;
}