/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
}

.btn_primary_custom {
    --background: #ff5a5f;
    --background-hover: darkorange;
    --background-activated: darkorange;
    color: white;
}